<!doctype html>
<html lang="en">
  <head>
    <title>Spicy</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="16x16" href="https://i.imgur.com/E5tRCl0.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Nice game to play with friends">
    <meta property="og:description" content="Nice game to play with friends" />
    <meta property="og:title" content="Spicy" />
    <meta property="og:image" content="https://i.imgur.com/PGSz21V.png" />


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>

  </style>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <title>Spicy</title>
  </head>
  <body>
   
    <div class="container pt-2">

        <app-newgame *ngIf="g.gamestatus==0"></app-newgame>
        <app-startround *ngIf="g.gamestatus==1"></app-startround>
        <app-gamestarted *ngIf="g.gamestatus==2"></app-gamestarted>
        <app-settings *ngIf="g.gamestatus==3"></app-settings>
    </div>
    <footer class="container">
      <app-footer></app-footer>
    </footer>
  </body>
  </html>